.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin: 0 auto;
}

.searchBar {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchBar:focus {
  border-color: #005695;
}

.searchButton {
  display: flex;
  align-items: center;
  background-color: #005695;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #004080;
}
.searchButton img {
  margin-right: 8px;
}

.searchButton:focus {
  outline: none;
}

.searchButton span {
  font-size: 16px;
}

@media (max-width: 600px) {
  .searchBar {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  .searchButton {
    padding: 10px;
  }
  .searchButton span {
    font-size: 13px;
  }

  .searchButton img {
    height: 16px;
  }
}
