/* Sidebar Styles */
.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  z-index: 100; /* Ensure it's above content but below toggle button */
}

.sideBar aside {
  width: 250px;
  background: #e4fbff;
  height: 100vh;
  border-right: 1px solid #005695;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.sideBar .roleName {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0c5d96;
}

.sideBar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-bottom: auto;
}

.sideBar li a {
  color: #0c5d96;
  text-decoration: none;
}

.sideBar li.active a {
  font-weight: bold;
  text-decoration: underline;
  color: #005695;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #005695;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #003c5b;
}

/* Mobile Layout - Sidebar Hidden by Default */
@media (max-width: 768px) {
  /* Hide sidebar by default */
  .sideBar {
    transform: translateX(-100%); /* Sidebar off-screen */
  }

  .sideBar.open {
    transform: translateX(0); /* Sidebar visible */
  }

  .toggleButton {
    position: fixed;
    top: 15px;
    left: 25px;
    background-color: #005695;
    color: white;
    border: none;
    font-size: 25px;
    line-height: 2rem;
    padding: 0 3px;
    cursor: pointer;
    z-index: 1000;
  }

  .sideBar.open + .toggleButton {
    display: none;
  }

  .sideBar {
    display: none;
  }

  /* Display the sidebar when open */
  .sideBar.open {
    display: block;
  }
}
